flask
simpleJSON
watchdog
gunicorn
ipython
psycopg2
Flask-SQLAlchemy
flask-script
flask-migrate
flask-login
flask-mail
flask-wtf
flask-socketio
flask-restful
pyjwt
rq
eventlet
boto3
pillow
xgboost
numpy

